name: spellcheck
on:
  push:
  pull_request:
jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Check Spelling
        uses: rojopolis/spellcheck-github-actions@0.42.0
        with:
          config_path: .spellcheck.yml
          task_name: Markdown


  build-pdf:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      
    - name: Install PowerShell
      run: |
        sudo apt-get update
        sudo apt-get install -y powershell

    - name: Run PowerShell script
      shell: pwsh
      run: |
        ./scripts/Merge-MarkdownFiles.ps1

    - name: Build PDF
      uses: baileyjm02/markdown-to-pdf@v1
      with:
          input_path: ./.github/workflows/bin/
          # Specify images dir
          images_dir: ./.github/workflows/bin/images/
          image_import: images
          # Build HTML version
          build_html: true
          # Build Table of Contents
          table_of_contents: true
          # Path to output (this should be the same as the Upload Artifiact path)
          output_dir: ./.github/workflows/bin/
    - name: Upload-Artifact
      uses: actions/upload-artifact@v4
      with:
          name: qlcplus-docs-build
          path: ./.github/workflows/bin/
