name: spellcheck
on:
  push:
  pull_request:
jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check Spelling
        uses: rojopolis/spellcheck-github-actions@0.57.0
        with:
          config_path: .spellcheck.yml
          task_name: Markdown

  build-pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - id: build
        uses: ./.github/actions/build-pdf
        with:
          lang: en

      - name: Upload-PDF
        uses: actions/upload-artifact@v6
        with:
            name: qlcplus-docs-en-pdf
            path: ./.github/workflows/bin/pdf/
  
      - name: Upload-Markdown
        uses: actions/upload-artifact@v6
        with:
            name: qlcplus-docs-en-markdown
            path: ./.github/workflows/bin/markdown/
