name: documentation
on:
  push:
  pull_request:
jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Check Spelling
        uses: rojopolis/spellcheck-github-actions@0.56.0
        with:
          config_path: .spellcheck.yml
          task_name: Markdown

  detect-langs:
    runs-on: ubuntu-latest
    outputs:
      langs: ${{ steps.setlangs.outputs.langs }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - id: setlangs
        run: |
          langs=$(find pages -name '*_??.md' | sed -n 's/.*_\([A-Za-z][A-Za-z]\)\.md/\1/p' | tr '[:upper:]' '[:lower:]' | sort -u)
          langs="en $langs"
          json=$(printf '%s\n' $langs | jq -R . | jq -sc .)
          echo "langs=$json" >> "$GITHUB_OUTPUT"

  build-pdf:
    needs: detect-langs
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        lang: ${{ fromJson(needs.detect-langs.outputs.langs) }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - id: build
        uses: ./.github/actions/build-pdf
        with:
          lang: ${{ matrix.lang }}

      - name: Upload-PDF
        uses: actions/upload-artifact@v6
        with:
            name: qlcplus-docs-${{ matrix.lang }}-pdf
            path: ./.github/workflows/bin/pdf/
  
      - name: Upload-Markdown
        uses: actions/upload-artifact@v6
        with:
            name: qlcplus-docs-en-markdown
            path: ./.github/workflows/bin/markdown/
